#!/bin/bash
{{ if (eq .chezmoi.os "darwin") -}}

dockutil --remove all --no-restart
dockutil --add /System/Applications/Mail.app --position start --section apps --no-restart
dockutil --add '~/Pictures/Screenshots' --position end --section others --sort dateadded  --display stack --no-restart
dockutil --add '~/Downloads' --position end --section others --sort dateadded --display stack

{{ end -}}
