format = """
$username\
$hostname\
$directory\
$git_branch\
$git_state\
$git_status\
$cmd_duration\
$docker_context\
$nodejs\
$php\
$python\
$line_break
$character"""

[cmd_duration]
format = "[$duration]($style) "
style = "yellow"
